/Cours_0/ConsoleApplication1/Debug
/Cours_0/ConsoleApplication1/ConsoleApplication1/Debug
/Cours_0/ConsoleApplication1/.vs
/Cours_0/ConsoleApplication1/x64
/Cours_0/ConsoleApplication1/ConsoleApplication1/x64
/Cours_1/Cours1App/Cours1App/x64/Debug
/Cours_1/Cours1App/x64/Debug
/Cours_1/Cours1App/.vs
/Cours_1/Cours1App/Debug
/Cours_1/Cours1App/Cours1App/Debug
/Cours_2/ConsoleApplication1/.vs
/Cours_2/ConsoleApplication1/Debug
