/Cours_0/ConsoleApplication1/Debug
/Cours_0/ConsoleApplication1/ConsoleApplication1/Debug
/Cours_0/ConsoleApplication1/.vs
/Cours_0/ConsoleApplication1/x64
/Cours_0/ConsoleApplication1/ConsoleApplication1/x64
/Cours_1/Cours1App/Cours1App/x64/Debug
/Cours_1/Cours1App/x64/Debug
/Cours_1/Cours1App/.vs
/Cours_1/Cours1App/Debug
/Cours_1/Cours1App/Cours1App/Debug
/Cours_2/ConsoleApplication1/.vs
/Cours_2/ConsoleApplication1/Debug
/Cours_3/ConsoleApplication1/.vs
/Cours_3/ConsoleApplication1/Debug
/Cours_4/Cours4/.vs
/TP1 15nov(copie du 8nov)/app 8nov/.vs
/Cours_7_Shader/Cours_7_Shader/.vs
/mt_case/App/.vs
/Cours_8/App/.vs
